body {
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

.container {
  width: 300px;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 0 15px rgba(0, 179, 255, 0.817);
}

.container h1,
h2 {
  color: white;
  align-items: center;
}
button {
  height: 40px;
  padding: 8px 15px;
  margin: 5px;
  font-size: 16px;
  background-color: white;
  transition: 0.4s;
}
button:hover {
  background-color: aqua;
  color: black;
}
